* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.container {
    height: 1,675px;
    width: 1579px;
}
h1 {
    font-size: 52px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
h5{
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pictures {
    margin-left: 297px;
    margin-top: 54px;
}